*{
    margin: 0 auto;
}
.wrapper{
    width: 1440px;
    height: 2000px;
    border: 1px solid;
    text-align: center;
}
.header{
    width: 1440px;
    height: 100px;
    background-color: lightsteelblue;
}
.mainpart{
    margin-top: 24px;
    display: flex;
}
.sideter{
    margin-left: 0px;
    width: 150px;
    height: 150px;
    background-color: lightsteelblue;
}
.main{
    margin-left: 12px;
    width: 1278px;
    height: 50px;
    background-color: lightsteelblue;
}
.footer{
    margin-top: 12px;
    margin-left: 12px;
    width: 1278px;
    height: 88px;
    background-color: lightsteelblue;
}